@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://use.typekit.net/kbt6udt.css");
@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200&display=swap");

/* OVERALL ------------------------------------------------------->*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 14, 44);
  font-family: var(--tertiary-font);
}

:root {
  --color: #fcfcfc;
  --color-2: rgb(0, 14, 44);
  --color-3: #d6e228;
  --color-4: #e3a5eb;
  --color-5: #ff32c2;

  --primary-font: "Gruppo", cursive;
  --secondary-font: "Kulim Park", sans-serif;
  --tertiary-font: "termina", sans-serif;

  --main-text-color: #fcfcfc;
  --white-space: 1rem;
}

/* HEADER STYLING ----------------------------------------------------------->*/

.logo {
  font-weight: 900;
  font-style: normal;
  color: #e6c7eb;
  font-size: 2rem;
  text-transform: capitalize;
  width: 30%;
  text-decoration: none;
}

.top-header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.nav-ul {
  display: flex;
  padding-top: 1rem;
}

.nav-li {
  list-style: none;
}

.navlink {
  text-decoration: none;
  padding: 1rem;
  font-size: 1rem;
  font-family: var(--primary-font);
  font-weight: normal;
  color: #e6c7eb;
  font-style: normal;
  font-weight: normal;
}

.navlink:hover {
  color: rgb(252, 227, 247);
}

/* DISCOVER STYLING ---------------------------------------------->*/

main {
  background-image: url(../img/popular-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
}

h2 {
  color: var(--color-3);
  font-family: var(--tertiary-font);
  font-weight: 900;
  font-style: normal;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  line-height: 6rem;
  padding-top: 4rem;
}

.click {
  text-align: left;
  font-size: 5.5rem;
  padding: 3.5rem;
}

#about {
  font-family: var(--secondary-font);
  color: var(--color);
  font-size: 2rem;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

#button-wrapper {
  padding-right: 9rem;
  padding-top: 5rem;
  display: flex;
  justify-content: flex-end;
}

.button {
  font-family: var(--primary-font);
  color: var(--color-3);
  font-size: 2rem;
  padding: 1rem;
  border-radius: 4px;
  background: none;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0;
  border: 2px solid var(--color-3);
}
button:focus,
button:active,
button:focus-within {
  outline: 0;
}

button {
  transition: all 1s;
}
button:hover {
  box-shadow: 0px 0px 10px 10px var(--color-3);
  color: var(--color-5);
}

/* POPULAR EVENTS ------------------------------------------->*/

.popular-events {
  padding-left: 5vw;
  padding-right: 5vw;
}

.toptext-wrapper {
  display: flex;
  justify-content: center;
}

.popular-text {
  font-size: 5rem;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color-5);
}

.events-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, auto));
  justify-content: center;
  gap: 2rem;
}

.p-event {
  width: 420px;
  height: 262.5px;
  position: relative;
  margin: 10px;
  overflow: hidden;
}

.p-event.notfree::before {
  content: "";
  width: 64px;
  height: 64px;
  background-image: url(/img/dollar-coin.png);
  position: absolute;
  top: 20px;
  left: 20px;
}

.p-event:hover {
  border: #d6e228 2px solid;
}

.p-event img {
  max-width: 100%;
}

.info-box {
  width: 420px;
  height: 100px;
  background-color: var(--color-2);
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: #fcfcfc;
}

.info-flex {
  display: flex;
  justify-content: space-between;
}

.info-flex h3 {
  font-size: 1.3rem;
}

.info-flex h4 {
  font-family: var(--text-font);
  font-size: 1.3rem;
}

.info-box p {
  font-family: var(--sub-font);
  font-size: 1.1rem;
}

/* LIVE NOW --------------------------------------------------->*/

#livenow-wrapper {
  display: flex;
  align-content: space-between;
  padding-left: 4rem;
}

h5 {
  color: var(--color);
  font-family: var(--tertiary-font);
  font-weight: 900;
  font-style: normal;
  font-size: 5rem;
  line-height: 6rem;
  padding-left: 5rem;
  padding-top: 6rem;
}

#map {
  width: 60%;
  height: 60%;
  transform: rotate(8deg);
}

@media (max-width: 700px) {
  .nav-ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .top-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .navlink {
    padding: 0;
    line-height: 2.5rem;
    font-size: 1.5rem;
  }

  .logo {
    font-size: 2.8rem;
  }
}
