/* FONT IMPORTS -------------------> */
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://use.typekit.net/kbt6udt.css");
@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200&display=swap");

/* GENERAL ------------------------> */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 14, 44);
  color: #fcfcfc;
  font-family: var(--headline-font);
  font-weight: 900;
  font-style: normal;
}

:root {
  --text-color: #fcfcfc;
  --shade-color: rgb(39, 0, 90);
  --yellow-color: #d6e228;
  --purple-color: #e3a5eb;
  --pink-color: #ff32c2;

  --headline-font: "termina", sans-serif;
  --sub-font: "Gruppo", cursive;
  --text-font: "Kulim Park", sans-serif;
  --main-text-color: #fcfcfc;

  --white-space: 1rem;
}

/* HEADER STYLING -------------------------------> */
.header-wrap {
  background-image: url(../img/p-fade.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
}

.top-header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.nav-ul {
  display: flex;
  padding-top: 1rem;
}

.nav-li {
  list-style: none;
}

.navlink {
  text-decoration: none;
  padding: 1rem;
  font-size: 1rem;
  font-family: var(--sub-font);
  font-weight: normal;
  color: #e6c7eb;
  font-style: normal;
  font-weight: normal;
}

.logo {
  font-family: var(--headline-font);
  font-weight: 900;
  font-style: normal;
  color: #e6c7eb;
  font-size: 2rem;
  text-transform: capitalize;
  width: 30%;
}

.navlink:hover {
  color: rgb(252, 227, 247);
}

/* PROGRAM HEADER STYLING ------------------------------------------> */

.program-text {
  display: flex;
  justify-content: center;
  color: var(--yellow-color);
  width: 100%;
  margin-top: 18%;
  font-family: var(--headline-font);
  font-weight: 900;
  font-style: normal;
  font-size: 8rem;
  line-height: 8rem;
}

.top-genres {
  display: flex;
  justify-content: center;
  width: 100%;
}

.top-genres a {
  text-decoration: none;
  padding: 15px;
  color: var(--text-color);
  font-family: var(--text-font);
  font-weight: normal;
  font-style: normal;
  font-size: 2.5rem;
}

.bottom-genres {
  display: flex;
  justify-content: center;
  width: 100%;
}

.bottom-genres a {
  text-decoration: none;
  padding: 15px;
  color: var(--text-color);
  font-family: var(--text-font);
  font-weight: normal;
  font-style: normal;
  font-size: 2.5rem;
}

.top-genres a:hover {
  text-decoration: underline;
  color: rgb(255, 202, 246);
  transform: scale(1.2);
}

.bottom-genres a:hover {
  text-decoration: underline;
  color: rgb(255, 202, 246);
  transform: scale(1.2);
}

.selected {
  text-decoration: underline;
  color: rgb(255, 202, 246);
  transform: scale(1.2);
}

/* HEADER MEDIA QUERIES --------------------------------------> */

/* POPULAR EVENTS ----------------------------------------------> */

main {
  background-image: url(/img/topimg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.popular-events {
  padding: 5vw;
}

.toptext-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.popular-text {
  font-size: 5rem;
  font-weight: 900;
  font-style: normal;
  text-transform: capitalize;
  color: var(--pink-color);
}

.genre-text {
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding-left: 30px;
  padding-top: 40px;
}

/* TOP EVENT BOX STYLING ---------------------------------------->*/

.events-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, auto));
  justify-content: center;
  gap: 2rem;
}

.p-event {
  width: 480px;
  height: 300px;
  position: relative;
  margin: 10px;
  overflow: hidden;
}

.p-event:hover {
  border: #d6e228 2px solid;
}

.p-event img {
  max-width: 100%;
}

.info-box {
  width: 480px;
  height: 80px;
  background-color: var(--shade-color);
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: #fcfcfc;
}

.info-flex {
  display: flex;
  justify-content: space-between;
}

.info-flex h3 {
  font-size: 1.5rem;
}

.info-flex h4 {
  font-family: var(--text-font);
  font-size: 1.5rem;
}

.info-box p {
  font-family: var(--sub-font);
  font-size: 1.3rem;
}

/* ALL EVENTS STYLING -------------------------------------------------------------->*/

.alltext-wrapper {
  display: flex;
  justify-content: center;
}

.all-text {
  font-size: 4rem;
  font-weight: 900;
  font-style: normal;
  text-transform: capitalize;
  color: var(--pink-color);
}

.genre-text2 {
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 2rem;
  padding-left: 30px;
  padding-top: 25px;
}

.allevents-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, auto));
  justify-content: center;
  gap: 2rem;
}

.allevents {
  width: 480px;
  height: 300px;
  position: relative;
  margin: 10px;
  overflow: hidden;
}

.allevents:hover {
  border: #d6e228 2px solid;
}

.allevents img {
  max-width: 100%;
}

.info-box2 {
  width: 480px;
  height: 80px;
  background-color: var(--shade-color);
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: #fcfcfc;
}

.info-flex2 {
  display: flex;
  justify-content: space-between;
}

.info-flex2 h3 {
  font-size: 1.5rem;
}

.info-flex2 h4 {
  font-family: var(--text-font);
  font-size: 1.5rem;
}

.info-box2 p {
  font-family: var(--sub-font);
  font-size: 1.3rem;
}
