/* FONT IMPORTS -------------------> */
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://use.typekit.net/kbt6udt.css");
@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200&display=swap");

/* GENERAL ------------------------> */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 14, 44);
  color: #fcfcfc;
}

:root {
  --text-color: #fcfcfc;
  --shade-color: rgb(39, 0, 90);
  --yellow-color: #d6e228;
  --purple-color: #e3a5eb;
  --pink-color: #ff32c2;

  --headline-font: "termina", sans-serif;
  --sub-font: "Gruppo", cursive;
  --text-font: "Kulim Park", sans-serif;
  --main-text-color: #fcfcfc;

  --white-space: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}
