/* FONT IMPORTS -------------------> */
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://use.typekit.net/kbt6udt.css");
@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200&display=swap");

/* GENERAL ------------------------> */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 14, 44);
}

:root {
  --text-color: #fcfcfc;
  --shade-color: rgb(39, 0, 90);
  --yellow-color: #d6e228;
  --purple-color: #e3a5eb;
  --pink-color: #ff32c2;

  --headline-font: "termina", sans-serif;
  --sub-font: "Gruppo", cursive;
  --text-font: "Kulim Park", sans-serif;
  --main-text-color: #fcfcfc;

  --white-space: 1rem;
}

/* HEADER STYLING -------------------------------> */
.header-wrap {
  background-image: url(/img/program-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.top-header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.nav-ul {
  display: flex;
  padding-top: 1rem;
}

.nav-li {
  list-style: none;
}

.navlink {
  text-decoration: none;
  padding: 1rem;
  font-size: 1rem;
  font-family: var(--sub-font);
  font-weight: normal;
  color: #e3a5eb;
  font-style: normal;
  font-weight: normal;
}

.logo {
  font-family: var(--headline-font);
  font-weight: 900;
  font-style: normal;
  color: var(--pink-color);
  font-size: 2rem;
  text-transform: capitalize;
  width: 30%;
}

.navlink:hover {
  color: rgb(255, 202, 246);
}

/* PROGRAM HEADER STYLING ------------------------------------------> */

.program-text {
  position: absolute;
  display: flex;
  justify-content: center;
  color: var(--yellow-color);
  width: 100%;
  text-align: center;
  top: 45vh;
  font-family: var(--headline-font);
  font-weight: 900;
  font-style: normal;
  font-size: 8rem;
}

.top-genres {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 70vh;
  width: 100%;
}

.top-genres a {
  text-decoration: none;
  padding: 15px;
  color: var(--purple-color);
  font-family: var(--text-font);
  font-weight: normal;
  font-style: normal;
  font-size: 2.5rem;
}

.bottom-genres {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 78vh;
  width: 100%;
}

.bottom-genres a {
  text-decoration: none;
  padding: 15px;
  color: var(--text-color);
  font-family: var(--text-font);
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
}

.top-genres a:hover {
  text-decoration: underline;
}

.bottom-genres a:hover {
  text-decoration: underline;
}

/* HEADER MEDIA QUERIES --------------------------------------> */

/* POPULAR EVENTS ----------------------------------------------> */
