@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://use.typekit.net/kbt6udt.css");
@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200&display=swap");

body {
  background-color: rgb(0, 14, 44);
}

:root {
  --color: #fcfcfc;
  --color-2: rgb(39, 0, 90);
  --color-3: #d6e228;
  --color-4: #e3a5eb;
  --color-5: #ff32c2;

  --primary-font: "Gruppo", cursive;
  --secondary-font: "Kulim Park", sans-serif;
  --main-text-color: #fcfcfc;

  --white-space: 1rem;
}

h1 {
  padding-left: 3rem;
  font-family: var(--primary-font);
  color: var(--main-text-color);

  font-family: termina, sans-serif;

  font-weight: 900;

  font-style: normal;
  font-size: 5rem;
}

h2 {
  padding-left: 3rem;
  font-family: var(--primary-font);
  color: var(--main-text-color);
  font-size: 2rem;
}

.swatches {
  padding: 3rem;
}

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 5vw;
  height: 15vw;
  width: 20%;
  border-bottom-left-radius: 3rem;
  list-style: none;
}

ul li:last-child {
  margin-right: 0;
}

.hex-number {
  padding: 1rem;
  color: white;
}

.color-swatch-1 {
  background-color: var(--color);
}

.color-swatch-2 {
  background-color: var(--color-2);
}

.color-swatch-3 {
  background-color: var(--color-3);
}

.color-swatch-4 {
  background-color: var(--color-4);
}

.color-swatch-5 {
  background-color: var(--color-5);
}

.section-heading {
  color: var(--main-text-color);
  padding: 3rem;

  font-family: "Kulim Park", sans-serif;

  font-weight: 200;

  font-style: normal;

  line-height: 1.5rem;
  letter-spacing: 0.2px;
  text-rendering: optimizelegibility !important;
}
